# Enviornment Example

# Kaggle Authentication
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_api_key

# Data Source Configuration -Kaggle datasetand CSV file name
KAGGLE_DATASET=kaggle_dataset
KAGGLE_FILE=csv_filename.csv

# Project Directories
DATA_DIR=./data
RESULTS_DIR=./results
LOGS_DIR=./logs

# ML Model Settings
SAMPLE_SIZE=25000
RANDOM_STATE=42
